.products {
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 1;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 18px;
    max-width: 1000px;
    min-height: 400px;
}

.products>img {
    max-height: 198px;
    width: 100%;
    margin-top: 20px;
    object-fit: contain;
    margin-bottom: 15px;
}

.products__info {
    height: 100px;
    margin-bottom: 15px;
}

.product__price {
    margin-top: 5px;
}

.products>button {
    background-color: orange;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #845a29;
    color: #111;
    padding: 2px 2px;
}

.product__Rating {
    display: flex;

}

@media screen and (max-width: 810px) {
    .products {
        height: 69px;
        max-width: 300px;
        padding: 5px;
        margin-left: -5px;
        margin-top: 72px;
        margin-bottom: 12px;
        box-shadow: 0px 1px 6px 1px ;
    }

    .products>img {
        max-height: 108px;
        margin-top: 4rem;
    }
    .products__info {
        font-size: 12px;
        height: 90px;
        padding-top: 12px;
        margin-top: 15px;
    }
    .products>button {
        margin-bottom: 12px;
    }
}