.footer__container {
    max-height: 160px;
    max-width: 100%;
    background-color: #0f151f;
    align-items: center;
    display: flex;
    grid-template-columns: 25px 25px 25px;
    color: white;
    flex-direction: row;
    font-size: 13px;
    margin-top: 30;
    z-index: 1;
    padding: 12px;
}
.footer__content{
    margin: 13px;
    font-weight: lighter;
}
.footer__foot{
    background-color: #0f151f;
    color: white;
    text-align: center;
}
.footer__foot>p {
    font-size: 12px;
    padding: 9px;
}
@media screen and (max-width:765px) {
.footer__container {
    color: white;
    flex-direction: row;
    font-size: 10px;
}
.footer__foot>p{
    font-size: 9px;
}
}